@media only screen and (min-width: 992px) {


    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.3em;
    }

    .largeRow2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-row-start: 2;
        background-color: #c6c5b9;
    }

    .largeRow4 {
        grid-row-start: 4;
    }

    .subheading {
        font-size: 2em;
    }

    .row2column2 ul {
        font-family: Vollkorn, 'Times New Roman', Times, serif;
        color: #635c51;
        font-size: 1.3em;
    }

    .weatherSummary p {
        font-size: 1.7em;
    }

    .row1 figure {
        width: 90%;
        margin-top: 1em;
    }

    .row3 {
        align-self: center;
    }

    .row3 figure {
        width: 10%;
        margin-top: 1.5em;
    }

    .reserveBtn {
        display: none;
    }

    
    .secondBtn {     
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        color: #dc851f;
        font-size: 1.5em;
    }


    .menu {
        display: none;
    }

    nav {
        width: 100%;
        order: 3;
    }

    .nav {
        width: 100%;
        position: static;
        display: flex;
        overflow-x: visible;
        transition: none;
        padding: 0;
        justify-content: flex-end;
    }

    .nav {
        align-self: flex-start;
    }

    .nav a {
        display: flex;
        transition: none;
        padding: 20px 8px 20px 8px;
        margin: 0 30px 0 30px;
    }

    .nav li {
        padding: 10px 0 10px 0;
    }

    .close {
        display: none;
    }

    .headerTop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .logo {
        order: 1;
        padding: 0 0 0 40px;
    }

    .nav .current {
        margin-top: 0;
        padding: 20px;
    }

    .hide a {
        margin: 0;
        padding: 0;
    }

    .dropdown-content ul {
        padding: 0;
        margin: 0;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }


    .dropdown-content {
        display: block;
        position: absolute;
        background-color: #635c51;
        min-width: 160px;
        z-index: 1;
        
    }

    h1 {
        font-size: 4em;
        margin: 0 0 0 .5em;
    }


    .homeGrid {
        display: grid;
        grid-template-rows: .5fr .5fr .5fr .5fr;
        width: 80%;
        margin: auto;
        align-content: center;
    }

    h3 {
        font-size: 2em;
    }

    .socialMedia {
        display: flex;
        flex-flow: row nowrap;
    }

    .socialMedia figure {
        width: 10%;
    }

    .contactInfo {
        margin-top: 20px;
    }

    form figure img {
        margin: 10px ;
        display: block;
        width: 100%;
    }

    form figure {
        width: 30%;
        align-self: center;
    }
    
    .thanksPic {
        display: block;
        margin: auto;
    }
    .smgoogleMap {
        display: none;
    }

    .mdgoogleMap {
        display: flex;
        margin-top: 30px;
    }

    .contactMain {
        width: 50%;
        margin: auto;
    }

}