body {
    max-width: 100%;
    margin: auto;
}


.headerTop {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #c6c5b9;
}

.logo {
    padding: 10px;
    width: 60px;
    margin: 10px;
}

button {
    padding: 10px;
    border: 0;
    border-radius: 0.25em;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: .5em;
    cursor: pointer;
}

.largeRow2 {
    display: none;
}

h1 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

.current {
    background-color: #c6c5b9;
    padding: 10px 0 10px 0;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #635c51;
    overflow-x: hidden;
    padding: 60px 0 0 0;
    transition: 0.5s;
}

.hide {
    display: none;
}


.nav li a,
.close {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
}


.nav a:hover {
    color: #b2d8d3;
}


.nav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 4em;
    margin-left: 50px;
}

.row1 figure {
    width: 100%;
    margin: auto;
}

.row1 figure img {
    width: 100%;
}

.row1 {
    position: relative;
}

.reserveBtn {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    bottom: 1em;
    left: .5em;
    width: 90%;
}

.reserveLink {
    text-decoration: none;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: #dc851f;
    font-size: 1.3em;
}

h2 {
    font-family: 'Josefin Sams', Arial, Helvetica, sans-serif;
    color: #635c51;
    font-size: 1.2em;
    text-align: center;
}

p {
    font-family: Vollkorn, 'Times New Roman', Times, serif;
    color: #635c51;
}

.summaryPic {
    width: 100%;
    margin: auto;
}

.summaryPic img {
    width: 100%;
}

.smallRow2 {
    background-color: #c6c5b9;
    padding: 20px;
}

.subheading {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 0;
}

.weatherSummary p {
    text-align: center;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}

.row2Head {
    margin-bottom: 5px;
}

.amenityIcons {
    display: flex;
}

.row3 figure {
    width: 20%;
    margin: auto;
}

.row3 figure img {
    width: 100%;
    margin-bottom: 1em;
}

.row3 figcaption {
    padding: 10px;
    font-family: Vollkorn, 'Times New Roman', Times, serif;
    font-size: 1.2;
    color: #635c51;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #635c51;
}

.contact ul {
    list-style-type: none;
    color: white;
    padding: 0 0 0 10px;
    font-family: Vollkorn, 'Times New Roman', Times, serif;
}

.contact ul li {
    padding: 7px 7px 0 7px;
}

h3 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin: 5px;
    color: white;
}


.socialMedia figure {
    width: 30%;
    margin: auto;
}

.socialMedia figure img {
    width: 100%;
    padding: 10px;
}

.start {
    color: #b2d8d3;
}

.attribution {
    font-size: .6em;
}