@media only screen and (min-width: 768px) {

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    main {
        width: 90%;
        margin: auto;
    }
    
    #windchill {
        padding: .5em;
        font-size: 1em;
        width: 40%;
    }
    
    #windOutput {
        margin: .4em;
        color: #3f4743;
        font-size: 1em;
    }
    
    .summary {
        top: 2em;
        left: 2.5em;
        width: 200px;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;

    }

    .summary h3 {
        display: flex;
        margin: 0;
    }


    .summary p {
    font-size: .8em;
    }

    #hidden {
        display: none;
    }
}
