body {
    width: 95%;
    margin: auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-color: #ffffff;
}

.otherBtns {
    display: flex;
    justify-content: space-around;
}

.mainQuote {
    text-align: center;
}

.btn {
    background-color: #FFA200;
    border: none;
    color: white;
    height: 70px;
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }


.hidden {
    display: none;
}

h1 {
    font-family: "Amatic SC";
    font-size: 35px;
}

h2 {
    font-family: Raleway;
}

.otherBtns {
    padding-top: 30px;
}

.hideQuote {
    display: none;
}
