h1 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #808080;
    font-weight: 100;
    margin: 0;
}

a {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

a:hover {
    opacity: .5;
}

.resume {
    color: #E97F14;
}
.logoLink {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.logoLink:hover {
    opacity: .3;
}

.logos {
    margin: auto;
    padding: 30px;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

img {
    border-radius: 50%;
}
figure {
    padding: 10px;
}
